<mat-accordion>    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Create Task
        </mat-panel-title>
        <mat-panel-description>
          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
        </mat-panel-description>
      </mat-expansion-panel-header>

     <form class="form w-10" novalidate="novalidate" id="kt_sign_in_form" [formGroup]="taskForm"  (ngSubmit)="onSubmit()">
      <div class="example-container">

        

        <mat-form-field>
          <input matInput placeholder="Task" formControlName="name">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="desc"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Priority" formControlName="priority">
            <mat-option value="Low">Low</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="High">High</mat-option>
          </mat-select>
        </mat-form-field>

      
        <button mat-raised-button color="primary">Create</button>

      
          
      </div>
    </form>
      

    </mat-expansion-panel>
  </mat-accordion>
  <br/><br/>

  <mat-card>
    <p>

      <mat-selection-list #thetasks (selectionChange)="onTaskChange($event)">
        <mat-list-option *ngFor="let task of tasks" [value] = "task" [selected]="task.status">
          <div class="{{task.status == true ? 'st' : ''  }}">
            <span matLine>{{task.priority}} priority</span>
            <span matLine>{{task.name}}</span>
            <span matLine><small>{{task.desc}}</small></span>
          </div>
        </mat-list-option>
      </mat-selection-list>

    </p>
</mat-card>